* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 10%;
}
.col {
    position: relative;
    display: inline-block;
    border: 2px solid lightcoral;
    width: 30%;
    padding: 1em;
    

}

.container {
    position: relative;
    margin-left: 5%;
}

.heading_1 {
    z-index: 10;
}

.heading_2 {
    left: 30%
}

.heading_3 {
    left: 60%
}